*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #212;
}
.container{
    max-width: 1000px;
    margin: auto;
}

header{
    background-color: #ffa500;
    text-align: center;
    color: #212;
    padding: 5px;
}

.title{
    font-size:26px;
}